@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  z-index: 1;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--backgroundPage);
  color: var(--accent);
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
